div{
    height: 300px;
    width: 300px;
    margin: 25px;
    border: 5px solid red;
    border-radius: 20px;
    float: left;
    overflow: hidden;
    outline-style: solid;
    outline-color: blue;
    outline-width: 15px;
    padding: 20px;
}
#div2{
    /* display: none */
    visibility: hidden;
    
}